################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/A01/.vs/A01
/A02/.vs/A02
/A02/A02/x64/Debug/A02.tlog/link.read.1.tlog
/A03/.vs/A03
/A03/A03/x64/Debug/A03.tlog
/A04/.vs/A04
/A04/A04/x64/Debug/A04.tlog
/A05/.vs/A05
/A05/A05/x64/Debug/A05.tlog
/A06/.vs/A06
/A06/A06/x64/Debug/A06.tlog
/A07/.vs/A07/FileContentIndex
/A07/A07/x64/Debug/A07.tlog
/A07/.vs/A07/v17
/A08/.vs/A08
/A08/A08/x64/Debug/A08.tlog
/A09/.vs/A09/v17
/A09/.vs/A09/FileContentIndex
/A09/A09/x64/Debug/A09.tlog
/A08/A08/shaders/.vs/shaders/FileContentIndex
