################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/A01/.vs/A01
/A02/.vs/A02
