################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/A01/.vs/A01
/A02/.vs/A02
/A02/A02/x64/Debug/A02.tlog/link.read.1.tlog
